@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* styles/globals.css */
.fc-daygrid-day {
  padding: 4px; /* Reduce el relleno de cada día */
}

.fc-daygrid-event {
  font-size: 0.8rem; /* Ajusta el tamaño de fuente de los eventos */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  .fc-toolbar-title {
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente del título */
    white-space: nowrap; /* Evita que el título se corte o haga saltos de línea */
    overflow: hidden;
    text-overflow: ellipsis; /* Si el título es muy largo, se cortará con "..." */
  }
}

@media print {
  .no-print {
      display: none !important;
  }

  body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      color: black;
  }

  table {
      width: 100%;
      border-collapse: collapse;
  }

  th, td {
      border: 1px solid #ddd;
      padding: 8px;
  }

  th {
      background-color: #f2f2f2;
      text-align: left;
  }
}

/* Oculta el punto de color predeterminado en la vista de lista */
.fc-list-event-dot {
  display: none !important;
}