.custom-pagination .MuiPaginationItem-root {
    color: #111827; /* Cambia el texto de los botones */
    border-color: #111827; /* Cambia el borde */
}

.custom-pagination .MuiPaginationItem-root:hover {
    background-color: #111827; /* Fondo al pasar el mouse */
    color: #FFFFFF; /* Texto al pasar el mouse */
}

.custom-pagination .Mui-selected {
    background-color: #111827; /* Fondo del botón seleccionado */
    color: #FFFFFF; /* Texto del botón seleccionado */
}
