<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBG9NIiT74OcA7-vkxD78t0MU5l-4BSfkE</string>
	<key>GCM_SENDER_ID</key>
	<string>115568601521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.julioborn.gymmy</string>
	<key>PROJECT_ID</key>
	<string>gymmy-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmy-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115568601521:ios:a88ec7a55317a1902e7590</string>
</dict>
</plist>